[2016-04-25 08:50] LeoUnglaub opened #1 "qreader does not focus"
Hey,
i have implemented your library into a small project of mine. The problem i am facing is that the camera does not focus automatically and therefor i never get a scan result. Any ideas on how i can fix that?

Thanks and greetings
Leo
![13054629_1075658902501699_2024864934_o](https://cloud.githubusercontent.com/assets/734684/14778491/7f0a4f2a-0ad3-11e6-9af4-9c36f7901ead.png)

[2016-04-25 09:03] nisrulz commented on #1
@LeoUnglaub thats a really good catch.
I will give an option to enable autofocus in my library.

Should update my code tonight 😄

[2016-04-25 09:06] LeoUnglaub commented on #1
Thats awesome!
Big thanks and greetings from Vienna!

Leo

[2016-04-25 09:44] nisrulz commented on #1
@LeoUnglaub it was a quick fix, so I updated my code. Have pushed the new version to maven central, should be available in a few hours.
The new version is `1.0.1`

[2016-04-25 09:44] #1 closed

[2016-04-25 14:02] cliffgr opened #2 "CenterTracker"
All qRreaders got Center Tracker Graphic

[2016-04-25 14:08] nisrulz commented on #2
@cliffgr can you be a bit more clear as to what exactly is the issue.

[2016-04-25 18:27] LeoUnglaub commented on #1
Hey,
thanks for fixing that issue. But sadly i still cannot scan anything on my phone. I use your code from the readme. I gave the app permissions to use the camera but i still dont get the value from the library. Is there anything else i have to do? installing the Google vision library on my phone? Or something else?

Thanks and greetings
Leo

[2016-04-25 18:50] LeoUnglaub commented on #1
I think i might found the problem:
[code]

[2016-04-25 19:01] nisrulz commented on #1
@LeoUnglaub yes the result returned is on a different thread. You need to `post` the data. Check the sample app in the repo.

[2016-04-25 19:42] farruxx opened #3 "Stop and release camera"
how to release camera onPause or when the job is done?

[2016-04-26 06:24] dineshvadivel opened #4 "Fail to connect to camera service"
Fail to connect to camera service
I have two apps which is using QReader, if one of the app is running in background, i have to kill that first app in order to open my second app.
otherwise i am getting  Fail to connect to camera service.

                                                                             java.lang.RuntimeException: Fail to connect to camera service

[2016-04-26 06:46] nisrulz commented on #4
@dineshvadivel that I am guessing is because the camera is not being releases implicitly , which is referenced in this issue #3 . I will be updating my codebase tonight with this functionality but need to test and verify everything before I do.

[2016-04-26 12:38] nisrulz opened #5 "Add feature to read qrcode from an image file"
Add a function to take a bitmap  containing qrcode , detect qrcode and return the data in qrcode.

[2016-04-30 17:24] LeoUnglaub commented on #3
Hey,
i have to agree it would be very nice to have a stop method as well. That way you can stop the camera if you got the result you wanted.

Thanks and greetings
Leo

[2016-05-03 07:30] sengsiva opened #6 "Can't create handler inside thread that has not called Looper.prepare()"
Exception thrown from receiver.
                                                                                java.lang.RuntimeException: Can't create handler inside thread that has not called Looper.prepare()
                                                                                    at android.os.Handler.<init>(Handler.java:200)

[2016-05-03 07:58] nisrulz commented on #6
Hi @sengsiva, can you share the code section where this occurred. From what I can guess is that you need to run your code on the UI thread since the results re delivered on a different thread.
Please check the sample app / checkout the readme to see a working model.

[2016-05-03 11:49] nisrulz commented on #3
Fixed in the latest release v1.0.3 , included functions to allow for `stop` and `releaseAndCleanup` when using QREader.

[2016-05-03 11:49] #3 closed

[2016-05-03 11:50] nisrulz commented on #4
fixed in https://github.com/nisrulz/qreader/issues/3

[2016-05-03 11:50] #4 closed

[2016-05-04 05:08] chnt-gomez opened #7 ""Cannot find symbol" when calling QREader.getInstance().stop()"
As it says, im calling QREader.getInstane().stop() and can't recognize the method.
public class Home extends AppCompatActivity{

    SurfaceView view;

    @Override
    protected void onCreate(Bundle savedInstanceState) {
        super.onCreate(savedInstanceState);
        setContentView(R.layout.activity_home);

        init();
        initQRScanner();
        startScanning();
    }

    private

[2016-05-04 05:33] nisrulz commented on #7
@chnt-gomez please follow the updated readme instructions for v1.0.3 . I made a few changes to public methods that were exposed.

You need to `setupConfig`, `init` and then call on `start` / `stop` and when done do `releaseAndCleanup`.
Check the code for [sample app](https://github.com/nisrulz/qreader/blob/master/app/src/main/java/github/nisrulz/projectqreader/MainActivity.java)

[2016-05-05 04:25] chnt-gomez commented on #7
Thank you! This solution worked.

[2016-05-05 04:25] #7 closed

[2016-05-17 07:31] Warosaurus opened #8 "java.lang.IllegalStateException: Detector processor must first be set with setProcessor"
Using the sample application at: https://github.com/nisrulz/qreader/tree/master/app

I am receiving an error every few milliseconds while the app is trying to detect a QR code.

The error is:

    E/CameraSource: Exception thrown from receiver.
    java.lang.IllegalStateException: Detector processor must first be set with setProcessor in order to receive detection results.
    at com.google.androi

[2016-05-17 08:42] nisrulz commented on #8
@Warosaurus Can you provide me more details like device information and more stacktrace to replicate this issue. It works completely fine on all devices and emulators I have tested this on.

[2016-05-17 08:55] Warosaurus commented on #8
I've tested it on a Samsung S3 (5.1.1) as well as a OnePlus One (5.1.1) and both give the same error.

[code]

[2016-05-17 08:59] Warosaurus commented on #8
The code taken from your example:

MainActivity.java
[code]

activity_main.xml
[code]

Android Manifest
[code]

build.gradle
[code]

[2016-05-17 09:18] nisrulz commented on #8
I will test it out.

[2016-05-17 09:21] Warosaurus commented on #8
Alright, thanks :)

[2016-05-17 17:39] nisrulz commented on #8
fixed in commit a55eea80cdbe6bda2bdbaa44dade935cb9c37b66

[2016-05-17 20:58] pin3da commented on #8
I've tested it on a OnePlusOne (6.0.1) using version 1.0.4 of the library and the error persist.

Should I reopen the issue ?

Thanks (:

[2016-05-17 21:07] nisrulz commented on #8
You are saying the sample app provided still gives you the same error ?
I have tested the library code in the latest version.

Please provide the steps to reproduce the issue.
Reopening the issue.

[2016-05-17 22:18] pin3da commented on #8
I cloned the repository to test, and Android Studio asked me to upgrade the version of Gradle.
After all the updates it worked well.

Then I tested on my app and it also worked.

Sorry for the false alarm ): ... and thank you very much.

[2016-05-18 03:21] #8 closed

[2016-05-18 18:40] sanchan opened #10 "Add feature to TextureView"
It would be great to add support for TextureView to be able to do this:

[code]

Thanks for the good work!

[2016-05-19 03:37] nisrulz commented on #10
I will look into this in the weekend.

Thank you :)

[2016-05-19 13:52] sanchan commented on #10
Oh! Thanks to you! I was trying to do it by myself, and then send you a pull request but I'm completely junior with Android (I'm working on my second project), sorry :(

So, thanks sir! :)

[2016-05-26 23:15] TMIndust opened #11 "Detector processor must first be set with setProcessor in order to receive detection results."
Hi,
tried to use googles vision api directly but the dectector was for some reason always "not operational" and now I have the same problem with your API and a modified version of your example app.
Log gets continously spammed with the following error message:

Is it my device or...?
Code (little bit different from your example code):
[code]

[2016-05-27 04:13] nisrulz commented on #11
@TMIndust Can you confirm that you have the same problem with the sample app too ?

[2016-05-27 11:33] TMIndust commented on #11
Yes, same problem with the samle app, however as it stands right now there seems to be a bug in Googles Vision API, see
https://developers.google.com/android/guides/releases#may_2016_-_v90
from 5 days ago.

So it is probably not directly related with your library.

Thanks

[2016-05-27 11:33] #11 closed

[2016-05-29 07:17] nisrulz opened #12 "downgrade to v8.4.0 of mobile vision dependency"
As stated in the google [official docs](https://developers.google.com/vision/announcement) , there is a serious bug in the mobile vision dependency v9.0.0.

![screen shot 2016-05-29 at 12 45 42 pm](https://cloud.githubusercontent.com/assets/2096087/15631851/7fb22064-259b-11e6-8a5b-86e666520af4.jpeg)

Hence downgrade to stable and functional v8.4.0

[2016-05-29 07:28] nisrulz commented on #12
fixed.

[2016-05-29 07:28] #12 closed

[2016-06-07 07:36] HosseinKurd opened #13 "How to read Barcode with qreader"
Hi
it is really awesome library, but i can't read Barcode with this library And only support QRcode
As it is very fast library, is it possible ?

[2016-06-07 09:58] nisrulz commented on #13
@HosseinKurd The main goal of the library was to enable QR code reading, but since the underlying functionality is provided by Google Mobile Vision technology, hence I will see if I can expose barcode reading capability in future releases.

[2016-06-07 09:58] #13 closed

[2016-06-09 07:30] younisshah opened #14 "Black Screen on Nexus 5X"
Instead of starting the camera, it just shows a black screen. Android M permissions have been taken care of. I'm running Android N (NPD35K).

[2016-06-09 16:42] KalebPortillo opened #15 "Restart qreader?"
Hello there, thanks for this great QR reader!

I wonder if its possible to restart the qreader object after call .stop() on it.

For example:
On the onDetect listener, after I detect something, I show a Dialog and call qreader.stop()

[code]

So when I dismiss my Dialog I call qreader.start() but it doens't read the qrcode anymore

[code]

[2016-06-10 13:52] nisrulz commented on #14
@younisshah The library only supports till api 23 (Android M). Support for Android N will be available when Android N becomes stable and the library is tested against it.

[2016-06-10 13:52] #14 closed

[2016-06-11 04:59] amugox opened #16 "Unable to initiate QREader"
I am getting below error wnen i call:  qrEader.init();

"java.lang.NoSuchMethodError: No static method zzC(Ljava/lang/Object;)Lcom/google/android/gms/dynamic/zzd; in class Lcom/google/android/gms/dynamic/zze; or its super classes (declaration of 'com.google.android.gms.dynamic.zze'"

[2016-06-11 07:55] nisrulz commented on #16
@amugox can you please list the version of library and android you are using.

Also provide device details and more logcat information for me to debug this properly.

[2016-06-11 07:56] nisrulz commented on #15
@KalebPortillo I will try and update you by tonight.

[2016-06-11 07:58] nisrulz commented on #6
@sengsiva There has been a few bug fixes in the library code, please try the latest version of the library to see that its working for you now and close this issue if it does.

[2016-06-11 07:59] nisrulz commented on #2
Closing the issue since OP has not responded with more information.

[2016-06-11 07:59] #2 closed

[2016-06-20 08:08] abbasalim opened #17 "Detector processor must first be set"
` E/CameraSource: Exception thrown from receiver.
                                                                     java.lang.IllegalStateException: Detector processor must first be set with setProcessor in order to receive detection results.
                                                                         at com.google.android.gms.vision.Detector.receiveFrame(Unknown Source)

[2016-06-20 08:20] nisrulz commented on #17
@abbasalim please provide your device details, os version and steps to reproduce this issue.

[2016-06-20 10:09] abbasalim commented on #17
i tested this in my galaxy j7 device with android 5.1

[2016-06-20 10:13] nisrulz commented on #17
The app runs perfectly fine for me. @abbasalim please provide steps to reproduce this issue.

[2016-06-20 11:13] abbasalim commented on #17
i used this code:
`qrEader = new QREader.Builder(this, surfaceView, new QRDataListener() {
            @Override public void onDetected(final String data) {
                Log.d("QREader", "Value : " + data);
                textView_qrcode_info.post(new Runnable() {
                    @Override public void run() {
                        textView_qrcode_info.setText(data);
                    }

[2016-06-20 11:19] nisrulz commented on #17
Do you have surface view in the layout and referenced in code as below ?
`surfaceView = (SurfaceView) findViewById(R.id.camera_view);`

[2016-06-20 11:24] abbasalim commented on #17
![capture](https://cloud.githubusercontent.com/assets/2588914/16192548/31c14090-36ff-11e6-818d-35de1391b21f.PNG)

[2016-06-20 11:29] nisrulz commented on #17
Everything looks fine to me. Are you using Instant Run ? Can you confirm uninstalling the app and reinstalling it without Instant run helps you or not ?

[2016-06-20 11:41] abbasalim commented on #17
i also tested in lg g2 with android 5.0 but :|
` Exception thrown from receiver.
                                                                       java.lang.IllegalStateException: Detector processor must first be set with setProcessor in order to receive detection results.
                                                                           at com.google.android.gms.vision.Detector.rece

[2016-06-20 11:43] nisrulz commented on #17
Let me do some more testing and I will update you soon.

[2016-06-21 12:11] KalebPortillo commented on #15
Any news @nisrulz?

[2016-06-21 12:52] nisrulz commented on #15
@KalebPortillo I do see your problem here , but I haven't figured out a way to restart the barcode reading once you call stop on it. The behaviour as intended should be that it should start reading QR code but it doesnot. I will update you if I figure out the anomaly.

[2016-06-21 13:16] KalebPortillo commented on #15
@nisrulz Thanks for your time,
Meanwhile I'm just using a true/false flag wrapping the onDetect method.

[2016-06-24 18:13] nisrulz commented on #6
Closing as no response and also it can be solved by using a Handler.

[2016-06-24 18:13] #6 closed

[2016-06-27 14:54] nefadbr commented on #15
+1, having the same problem.

[2016-06-27 14:57] nisrulz commented on #15
Guys, I haven't got time to fix it lately but I will update it within this week. Meanwhile if anyone else get a change to take a dig at it , then please send a PR.

[2016-07-15 12:36] tijee commented on #16
I got the same error, you need to declare compile `'com.google.android.gms:play-services-vision:x.x.x'` in your `build.gradle`.

[2016-07-15 13:04] nisrulz commented on #16
@tijee : Its already mentioned [here]( https://github.com/nisrulz/qreader/blob/master/library/build.gradle#L43) . I still have to replicate this issue, OP has not responded about this but if you are getting the same , then please provide me more details to replicate this issue and hence provide a solution asap.

[2016-07-15 13:09] tijee commented on #16
No more details to give, this is actually not an issue. I just forgot to declare the play services dependency, and I guess @amugox did the same.

[2016-07-16 19:11] punksta opened #20 "Customize BarcodeDetector"
What do you thing about features:
- Use singleton BarcodeDetector QR on each views. You create new Detector on each reader.
- Allow set internal BarcodeDetector to Builder. It can be useful, if someone will want to scan not only qr codes.
I already made it in my project and can make PR. But I'm not sure about first case.

[2016-07-17 09:50] nisrulz commented on #20
@punksta I donot fully understand what you are proposing here. Can you provide me with more details.

[2016-07-18 07:48] punksta commented on #20
@nisrulz added samples;

[2016-07-18 09:08] nisrulz commented on #20
@punksta I think using Singleton would be a nice change as cases of having multiple instances of the same QREader class are very less.

However I would not want to extend QREader to start supporting other reading capability just because I made it specifically to read QRCodes. However there is no harm in providing a config function that open ups the functionality if its desired. The way of implemen

[2016-07-18 09:17] alon80 opened #21 "Google Play Services Conflict"
Issue occurred after including Google Firebase in my project

[2016-07-18 09:23] nisrulz commented on #21
@alon80 I am working on that. Should get solved in the next release. Give me until next weekend.

This is happening because the required transitive files `com.remoteapps.vs-2/base.apk` which are downloaded by google play services to facilitate Mobile Vision are not downloaded. It is should not be a conflict because of including Firebase in your project.

Can you confirm that if you remove Firebase

[2016-07-18 09:57] punksta commented on #20
@nisrulz
I agree. Where is another case of supporting external BarcodeDetector: using one instance for scanning of locally images and using in your reader.

[2016-07-18 10:47] alon80 commented on #21
@nisrulz Thanks for your reply.

The problem only occurs when adding Firebase - tried to remove/add several time so I am sure it is the Firebase includes that causes this error.

[2016-07-18 11:06] nisrulz commented on #21
@alon80 thanks for confirming.

I will look into it and test it. Should get solved soon.

[2016-08-01 18:04] nisrulz commented on #16
Closing as cannot replicate.

[2016-08-01 18:04] #16 closed

[2016-08-09 16:03] hsaidi opened #23 "Error creating native barcode detector (Error with 4.2.2 only)"
I am having this error : NativeBarcodeDetectorHandle: Error creating native barcode detector
Because of that i got this one: QREader: Barcode recognition libs are not downloaded and are not operational

This error is happening with Android 4.2.2 only, the same code runs perfectly fine with 5.1 and 6.0.

Device: smartwatch with a full install of android.
The sample code to detect the QrCodes hasn't

[2016-08-09 16:26] nisrulz commented on #23
@hsaidi the library was never tested for android wear. Anyways from what you have mentioned in the issue, its straightforward that the library is not able to download the required mobile vision library code , which is provided by google. If you are running android in your smartwatch and its not connected to internet / it doesnot have the capability to run google play services , it wont work.

[2016-08-09 18:31] hsaidi commented on #23
Well, the smartwatch has a full version of android, not android wear.
And when it worked, on the 5.1 and 6.0 version, the device wasn't connected to internet.

[2016-08-09 18:36] nisrulz commented on #23
Can you confirm your 4.2.2 version has google play services installed.

Explain your scenario as to how you are able to test it on multiple version of Android on the smartwatch. Are you using the same smart watch to format and flash each version of Android on it  ?

This is un-expected way of running android on smartwatch, in anycase the expected would have been android wear, I can only guess here

[2016-08-09 18:44] hsaidi commented on #23
Yes, installed and running.
I have a two phones and a smartwatch on which i am testing apps.

The same code works on 6.0 ad 5.1. on the smartwatch, which is really a smartphone with a small screen as it has everything a smartphone has and is running a full version of android as i said. the code doesn't work, the camera opens, the problem lies at the .init() of the barcode detector.

The smartwatch

[2016-08-09 18:48] nisrulz commented on #23
Ok, can you clear your cache and confirm you have enough space on the device so that it can download the extra library files it depends on ?

Checkout this [stackoverflow answer](https://stackoverflow.com/questions/32099530/google-vision-barcode-library-not-found) too.

[2016-08-11 02:31] dimparf opened #24 "Please update library deps to GMS 9.2.1 or higher"

[2016-09-01 14:57] Rivaz93 opened #26 "Null pointer for on resume"
I got Null pointer exception sometimes
`Process: com.sparktech.wowcherryscanner, PID: 18639
                                                                                java.lang.IllegalArgumentException: Null image data supplied.
                                                                                    at com.google.android.gms.vision.Frame$Builder.setImageData(Unknown Source)

[2016-09-05 08:00] mikorobyo commented on #21
Hi @nisrulz, any idea why this problem occurs when the Firebase library is added? I just encountered the same issue. Thanks.

@alon80 Did you manage to find a solution? Thanks.

[2016-09-05 08:03] nisrulz commented on #21
@mikorobyo I haven't been able to pick this project up for some time. If someone else wants to go ahead and do that it would be great. I am however committed to solving issues arising in this project and would possibly try to fix it soon.

Apologies for the inconvenience caused. I am a bit tied up with work.

[2016-09-21 13:14] amineMpdam commented on #21
Is this issue still open ??
Because i am facing the same problem with the 1.0.6 release.
After i added the dependency :  compile 'com.google.firebase:firebase-messaging:9.4.0' i started getting this build error "Multiple dex files define Lcom/google/android/gms/actions/ItemListIntents;"

[2016-09-27 09:02] nisrulz commented on #24
`develop` branch has an even updated version (v9.6.1). Closing this for now.

[2016-09-27 09:02] #24 closed

[2016-09-27 09:04] nisrulz commented on #23
@hsaidi any updates on this issue ? Did you solve it ?

[2016-09-27 09:06] nisrulz commented on #17
Already merged the fix into develop  as provided by @punksta , hence should close this issue.

[2016-09-27 09:07] nisrulz commented on #15
@punksta provided a fix which is merged into the `develop` branch and should be released soon. Closing this.

[2016-09-27 09:07] #15 closed

[2016-09-27 09:07] #17 closed

[2016-09-27 09:42] hsaidi commented on #23
I had to use a smartwatch with android 5 on it. couldn't make it work with the 4.2.2

[2016-10-18 08:11] Shusshu commented on #10
+1

[2016-10-19 13:10] Alhima commented on #21
Hi, I noticed this issue is still open, and one of my Seniors found a solution to this problem, so here it is in case that someone need a temporal solution:

The problem is between dependencies with Firebase and Qreader, so excluding the 'com.google.android.gms' group on the compile, and adding the compile for the Google vision library, worked for me. So, basically(in the module gradle):

compile

[2016-11-28 19:23] nisrulz commented on #23
Updated the library to v2.0, with a lot of fixes and API cleanup. Please give it a try and let me know if this issue was fixed.

Thank you

[2016-11-28 19:24] nisrulz commented on #21
Updated the library to v2.0, with a lot of fixes and API cleanup. Please give it a try and let me know if this issue was fixed.

Thank you

[2016-11-28 20:50] amineMpdam commented on #21
I'll give it a try.
Ps: thank you for a great library.

Le 28 nov. 2016 20:24, "Nishant Srivastava" <notifications@github.com> a
écrit :

[2016-12-12 11:48] matt39 commented on #10
Hi @nisrulz , any news in this topic?

Thanks a lot.

[2016-12-12 12:57] nisrulz commented on #10
Haven't worked on the TextureView Integration part as of yet, any PR would be welcome. Otherwise I would try to push it out in the next release.

[2016-12-12 16:40] TonyTangAndroid opened #28 "Camera: app passed NULL surface"
_Camera: app passed NULL surface_ on Android Nougat Google Pixel in Log Console.
There is no more message provided.

[2016-12-12 17:59] nisrulz commented on #28
@TonyTangAndroid are you setting the surface view as explained in the readme ? Also check if the sample app also throws the same error ?

[2016-12-13 16:29] TonyTangAndroid commented on #28
Yes. I was using the exact sample app that gets this error.

[2016-12-13 19:05] joelclaudio commented on #28
@nisrulz +1 I am having the same issue. It occurs when I read a QRCode with a video a url, launch the intent to play the video and come back to the fragment that has the qrreader. Using Lollipop on Moto G 1st gen.

[2016-12-15 09:28] nisrulz commented on #10
Since QREader uses (and simplifies) Google Vision API to read QR Codes, it made sense to use what they use i.e SurfaceView. However its technically possible to use Texture View as per this [issue](https://github.com/googlesamples/android-vision/issues/15).

[2016-12-15 09:46] nisrulz commented on #28
Let me look into it and update it here.

[2016-12-15 17:07] primissus opened #29 "Can i limit the reading area?"
Is there any way I can use the full screen camera area to display but limit the reading area to a subview?

[2016-12-15 18:24] nisrulz commented on #29
Yes. The reading area is your `SurfaceView`, so how you size it (be it full screen or a specific height and width) in your layout is on you. Next is where you display your read data into , again depends on where you show the read data.

I may be able to answer more clearly if you gave me a specific case.

[2016-12-17 09:52] dmalis opened #30 "Flash"
Hi, thanks for this library.

Question: Could you implement flash functionality, like .enableFlash(true/false)

Damian

[2016-12-21 06:43] wlchfl5358 opened #31 "how can i use button in recyclerview??"
i tried setOnClickListener in onBindViewHolder and ItemViewHolder...
but it happened nothing when i clicked.
should i use different way to set button in a row in recyclerView?
may i see some example?
even i tried in activty not adapter, it shows same.
and how can i change drag clickevent recyclerview to imageview or button?
thank you.

[2016-12-21 07:02] nisrulz commented on #31
How is this related to QREader, Please explain.

[2016-12-21 07:21] #31 closed

[2016-12-26 07:31] pottiepie commented on #28
@nisrulz I might be having the same issue. The surface view turns black and doesn't update whenever the activity resumes. This happens with the sample app as well.

To replicate, simply leave the app by going to home, then resume the app.

[2016-12-31 05:40] primissus commented on #29
Hi, I'm sorry I lated too much to answer but I've been a little busy.
What I was trying to say is that I wanted to show the camera on the whole screen but limit the qr reading area to another inside view, like this:

![rect3344](https://cloud.githubusercontent.com/assets/19866079/21575982/4268a7c4-cee6-11e6-9387-2325e7829884.png)

I ended up modifying your `QRDataListener` by adding another `onDet

[2017-01-05 02:29] Wockito opened #32 "Camera Preview Lagging"
I just followed the implementation as told in the wiki. The camera preview lags a lot on my Moto g 3rd Gen phone. Can something be done to smooth it out ?

[2017-01-05 08:52] malti4 commented on #28
Hello sir ,i have the same issue as of Mr Joelclaudio.And i really need the solution.Please help.When i open the mail client by intent than on coming back to activity i m not able to scan and surface view shows black screen.Please help as soon as possible

[2017-01-05 12:11] pottiepie commented on #28
Ok I managed to find the problem and fix it.

When `QReader.initAndStart()` is called in `onResume()`, it adds a `GlobalLayoutListener` on `surfaceView` which calls `QReader.start()`. In here, it checks the boolean `surfaceCreated` and if it is false, it adds `surfaceHolderCallback` to the holder.

Now the issue is that `surfaceHolderCallback` removes itself from `surfaceView` when it is destroyed

[2017-01-06 06:05] memotiur opened #33 "Application Crashed when camera used by another apps."

[2017-01-06 12:49] frog1014 commented on #21
I met the same issue with v2.0.1.

[2017-01-10 10:48] malti4 commented on #28
Helo sir,
Thank you for your precious reply.but m not able to identify line 106!!
where can i add "QReader.java: surfaceHolder.removeCallback(this);" .

On Thu, Jan 5, 2017 at 4:11 AM, Wai Kay <notifications@github.com> wrote:

[2017-01-10 10:55] malti4 commented on #28
I got the line bt its the read only file ,so cant remove the line

On Tue, Jan 10, 2017 at 2:48 AM, Malti Devnani <malti@4lifeinnovations.com>
wrote:

[2017-01-10 14:25] pottiepie commented on #28
It is read only because you are currently "linking" to the package in GitHub. What you need to do is clone the source out and then add it as a module to your project. Then you can edit the source.

[2017-01-10 18:10] nisrulz commented on #28
@pottiepie if you think that you have fixed the issue, could you send a PR. I haven't been able to pick   the library code for sometime because of work.

[2017-01-10 18:11] nisrulz commented on #32
@Wockito I will look into it. Meanwhile if you come up with some solution , do consider sending a PR.

[2017-01-10 18:12] nisrulz commented on #33
@memotiur I will look into it. Meanwhile if you come up with some solution , do consider sending a PR.

[2017-01-10 18:13] nisrulz commented on #30
@dmalis I will look into it. Meanwhile if you come up with some solution , do consider sending a PR.

[2017-01-10 18:14] nisrulz commented on #29
@primissus if you added a feature, do consider sending a PR.

[2017-01-10 18:15] nisrulz commented on #26
@Rivaz93 any updates as per the latest version? Let me know if its appropriate to close this issue.

[2017-01-11 05:08] malti4 commented on #28
@pottiepie  i did as per your instructions bt it gives me error on resuming that "Fail to connect to camera service".So help me in that

[2017-01-22 12:42] xinux87 opened #34 "Proguard"
I'm getting error, while trying to use the library with proguard.

[2017-01-23 09:10] mahfuzmurshed opened #35 "Want to read multiple qr code at a time as well as take image of that surface"
Hi,

I have a project in which I have to read one or two qr code at the same time and need the hole picture at that moment of capture.

Best Regards
Mahfuz Murshed
Sr. System Analyst
Bangladesh Madrasah Education Board, Dhaka.
Bangladesh.

[2017-02-16 21:51] simonkarmy commented on #29
I am facing a problem on the aspect ratio of the camera preview.
Always displayed with bad aspect ration.
What to do ??

[2017-02-20 07:23] #35 closed

[2017-02-21 18:05] BrezhDev opened #37 "Google play service version"
Hello,

Can you use the version 10.2.0 for google service please ?

[2017-02-21 18:21] nisrulz commented on #37
@BrezhDev I can, but it brings in 2 issues

1. I have to drop support for pre API 14 devices
2. There are a lot of issues I need to fix for the next release. I just have not been able to give the love QREader deserves because I have been occupied.

If you want to update the google play services, I would suggest you check out the library code and add it as a module to your app. Update the google pl

[2017-04-06 03:45] wizardkhinz18 opened #38 "square indicator"
how do we put square indicator at the center of surfaceview

[2017-04-09 21:26] rocky58 opened #39 "Black screen on one of my two phones"
Hello nisrulz,
I have two smartphone:
1 - Note 4 with Android 6.01 and all is OK;
2 - Chinese phone with Android 6.0 and screen is black; when I press START/STOP the button text is always STOP.
Inside onCreate():
stateBtn.setOnClickListener(new View.OnClickListener() {
			@Override
			public void onClick(View v) {
				if (qrEader.isCameraRunning()) { // THIS PIECE OF CODE IS NEVER EXECUTED!!

[2017-04-10 14:16] rocky58 commented on #39
I found the problem. It was Android 6 camera rights problem.

Thanks.

[2017-04-10 14:16] #39 closed

[2017-06-16 06:44] ralphgabrielle opened #41 "Black screen when re opening app"
I just copied all the codes from the sample project that is included here.

` @Override
    protected void onResume() {
        super.onResume();

        qReader.initAndStart(surfaceView);
    }`

`@Override
    protected void onPause() {
        super.onPause();

        qReader.releaseAndCleanup();
    }`

I think there's something wrong about the SurfaceView, currently tested on Kitkat and Mar

[2017-06-20 13:21] rbuiten commented on #41
the problem looks like https://stackoverflow.com/questions/11495842/how-surfaceholder-callbacks-are-related-to-activity-lifecycle.

I did resolve this issue by using a FrameLayout instead of SurfaceView. In my onResume i reload the data (remove all views of FrameLayout and add the SurfaceView to the FrameLayout)

binding.frameSurface.removeAllViews();
        surfaceView = new SurfaceView(getConte

[2017-06-29 14:41] #21 closed

[2017-07-03 07:50] babulpatel1309 opened #42 "Switching camera is not working at all."
.facing(backCamera ? QREader.BACK_CAM : QREader.FRONT_CAM)

i tried with this code. It continuously showing me the same back camera output only

[2017-07-03 08:57] babulpatel1309 commented on #42
finish();
                overridePendingTransition(0, 0);
                startActivity(getIntent());

Come up with this solution..!!! :(

[2017-07-03 17:13] nisrulz commented on #42
@babulpatel1309 thats because once the singleton instance is initialized you can't modify the set values. I can however provide a function to do the same. As of now the library doesnot support this feature.

[2017-07-04 07:28] ralphgabrielle opened #43 "surfaceCreated not triggered on resume after unlock screen"
all is going well, but if you try to press the power button (lock button) surfaceCreatedis not trigerred (SurfaceHolder.Callback surfaceHolderCallback @ line 90)

so this block

` public void start() {
    if (surfaceView != null && surfaceHolderCallback != null) {
      //if surface already created, we can start camera
      if (surfaceCreated) {
        startCameraView(context, cameraSource, sur

[2017-07-04 19:11] nisrulz commented on #43
I will have to look into this, but a dirty fix would be to restart the activity. I understand that is not what is obviously desired, but this would force the whole setup process to start again. I would, however, keep this issue open to address this in the next release.

I would, however, like to mention that I am fairly occupied at work and haven't been able to give the time this project requires

[2017-07-05 00:36] ralphgabrielle commented on #43
thanks for the reply, I'll try to have a better work around and post it here.

[2017-07-26 10:24] alexxgarci commented on #41
I check if the camera is running, and if it's false, i started again.

`@Override
    protected void onResume() {
        super.onResume();

        // Init and Start with SurfaceView
        // -------------------------------
        qrEader.initAndStart(mySurfaceView);
        if (!qrEader.isCameraRunning()) {
            qrEader.start();
        }
    }`

[2017-07-26 10:41] alexxgarci commented on #38
Use a ```RelativeLayout```  in the QReader activity and then put an ImageView with ``` android:layout_centerInParent="true"```

[2017-07-27 02:03] ralphgabrielle commented on #41
sure I'll try that, I did a little hack, but yours is a lot cleaner. Thanks @alexxgarci

[2017-07-28 14:04] alexmelyon commented on #23
@nisrulz please write in readme.md that Google Services are required.
It will no work in Genymotion, at least.

[2017-07-28 23:29] nisrulz commented on #23
@alexmelyon Good point. Even though the library says that it uses Google's mobile vision API, it would be good to have it specified in the readme as to what is required for it to work. I will do the required. I hope to sit down soon and fix a lot of issues this lib is having.

[2017-08-13 15:33] maltidevnani opened #44 "OnDetectMethodCall Multiple times"
I want to move from on activity to another on detecting the qrcode.But when i navigate from current activity to another activity its not happening and the detection keeps going on.It works fine if i move back to the parent (the activity which call the qrcode activity) on activity result.But i dont want to go for on activity result.

[2017-08-22 04:11] kasfulanwar opened #45 "Problem access camera in marshmallow"
Hai Mate..

Thanks for your qreader that help me so much in my apps,

my apps works fine in my device with Android 5.0 Lolipop, but I have problem when I test it in Android 6.0 Marshmallow, **my apps cannot access the camera, the surface view only display a blank black screen**, I already try update my SDK platform to Android 8.0 Oreo and update my JDK to JDK8, but still don't resolve the problem,

[2017-08-22 05:46] nisrulz commented on #45
Have you provided the Runtime Permission? Android M onwards there is runtime permission system, which you need to request while the app is running and the user is supposed to accept that. Only then you would have access to the camera.

[2017-08-22 05:57] kasfulanwar commented on #45
Hai @nisrulz thanks for your advice, I already fix this issue with changing my gradle script

**from :**
defaultConfig {
        applicationId "###"
        minSdkVersion 15
        targetSdkVersion 23
        versionCode 1
        versionName "1.0"
    }

**to :**
defaultConfig {
        applicationId "###"
        minSdkVersion 14
        targetSdkVersion 22
        versionCode 1
        version

[2017-08-22 06:00] nisrulz commented on #45
@kasfulanwar the fix you have put in is basically not targeting Android M. I believe if you would like to target higher android api, you should look into runtime permissions and that allows you to push your app to the latest android api i.e API 26 which is Android Oreo.

If this works, then good. But in future, if you would want to target API 23+, try out the fix I have suggested.

[2017-08-22 06:03] #45 closed

[2017-08-23 16:42] nisrulz commented on #37
The latest release has the dependencies updated. Closing this issue now.

[2017-08-23 16:42] #37 closed

[2017-08-31 10:41] malti4 opened #46 "Fail To connect to camera service"
Th scanner is working awesome in api level >21.But it shows error "Fail TO Connect to camera service" with api level<21.Kindly help

[2017-08-31 17:41] nisrulz commented on #46
@malti4 please share some log information such as LogCat output, device configurations and steps to reproduce this issue.

Thank you.

[2017-09-01 07:46] malti4 commented on #46
Hello Sir,
In the log, it shows fail to connect to the camera .And the device has lollipop os .If u run it in lollipop device it will show this error

[2017-09-11 23:32] jcacosta25 commented on #46
i have the same error this is the log

`java.lang.RuntimeException: Fail to connect to camera service
                                                                      at android.hardware.Camera.<init>(Camera.java:715)
                                                                      at android.hardware.Camera.open(Camera.java:511)

[2017-09-28 09:07] datnt1987 commented on #41
Hi guys, I have the same issue and still not solved it, any suggestion ? I try the solution of @alexxgarci but it not work.

[2017-09-29 01:01] ralphgabrielle commented on #41
Hi,

try to manually add the surface view on the code, and remove on on pause
(or whenever) and add it back.

I'll try to create a gist code later and share it here.

On Thu, Sep 28, 2017 at 5:07 PM, datnt1987 <notifications@github.com> wrote:

[2017-09-29 05:57] datnt1987 commented on #41
Dear @ralphgabrielle , It worked, thanks so much

[2017-10-03 00:49] ralphgabrielle commented on #41
Glad it helped you. Cheers

On Fri, Sep 29, 2017 at 1:57 PM, datnt1987 <notifications@github.com> wrote:

[2017-10-24 02:28] datnt1987 opened #47 "Error building with proguard"
I have build my project with proguard using QReader Libs but it throw error "can't find common super class ...LatLngBounds (google gms), but when I remove QReader Libs, my project build successfully.
I've tried to add into proguard-rule.pro
-dontwarn github.nisrulz.qreader.**
-keep class github.nisrulz.qreader.** { *; }

But error still appear. Please guide me how to fix this. Thanks

[2017-10-24 04:47] nisrulz commented on #47
@datnt1987 can you share the complete error log?

[2017-10-24 04:53] datnt1987 commented on #47
hi @nisrulz here is my full error log:
Warning:Exception while processing task java.io.IOException: java.lang.IllegalArgumentException: Can't find common super class of [com/google/android/gms/maps/model/LatLngBounds] (with 1 known super classes) and [java/util/Iterator] (with 2 known super classes)

It seem not relate to the Libs, but when I remove "compile libs", It run ok.

[2017-10-24 15:40] nisrulz commented on #47
@datnt1987 try adding the below to your proguard file

[code]

[2017-10-25 02:46] datnt1987 commented on #47
Dear @nisrulz , I've tried both but nothing has changed. It still occur error.

I've already insert these before.

[2017-10-25 03:43] nisrulz commented on #47
@datnt1987 Let me run this through some tests and then I will get back to you.

[2017-10-25 03:48] datnt1987 commented on #47
Thanks in advance, expect answering from you, @nisrulz

[2017-10-26 23:06] nisrulz commented on #47
@datnt1987 I updated the dependencies today and pushed the code to `develop` branch. When I ran the code with proguard enabled, without any change, the app ran properly.

Could you run the example app on your side with proguard enable from the develop branch. If that works I will release the updated library to jcenter and you can then sync it up for it start working with  your app.

As I see it is

[2017-10-27 05:28] datnt1987 commented on #47
Dear @nisrulz , I've tried both branch (master and dev), the app ran properly and I cannot confirm that you changed at dev branch works.

[2017-10-27 06:24] nisrulz commented on #47
Ok, can you try using the latest version i have pushed (v `2.1.2`)

use this in your build.gradle

[code]

[2017-10-27 10:03] datnt1987 commented on #47
I'm sorry but It's still not work for me with the newest version. :(.

I think that libs using some google service modules and when proguard, qreader libs not keep those classes.
In this case, I found that I cannot access the super class of LatLngBounds is AbstractSafeParcelable (I can access this when not using QREader libs)

This is just my guess.

[2017-10-27 10:41] datnt1987 commented on #47
In my project, I also use react native lib that have com/airbnb/android/react/maps/AirMapView. When building project by using command line:

Method detail
[code]

So is that have conflicts here ???

[2017-10-27 19:36] nisrulz commented on #47
Ok this is interesting. Because QREader doesnot use any google maps dependency.
[Check here](https://github.com/nisrulz/qreader/blob/master/qreader/build.gradle#L40-L41)

This looks more like a conflict, thought I donot have a solution for this.

I do not have any idea about the react native part of this problem. Probably someone who has worked with react native could chime in. Try posting this on

[2017-10-28 00:45] datnt1987 commented on #47
Yes @nisrulz, I think I should find solution in another way. Thank so much for supporting me like this, I respect that.

[2017-10-28 00:45] #47 closed

[2017-11-04 08:00] nisrulz commented on #44
@maltidevnani I do not quite understand your issue. Could you explain a bit more clearly?

[2017-11-04 08:02] nisrulz commented on #46
@jcacosta25 @malti4 Can any one of you confirm that this issue still exists as per the latest version?

[2017-11-04 08:04] nisrulz commented on #43
@ralphgabrielle Can you confirm this issue still exists based on the latest release? I have tried to simulate the issue by following the steps you mentioned and I cannot reproduce it.

[2017-11-04 08:13] nisrulz commented on #34
@xinux87 Can you confirm this issue still exists based on the latest release?

[2017-11-04 08:15] nisrulz commented on #30
@dmalis you can use my other lib for controlling flash
https://github.com/nisrulz/lantern

[2017-11-05 07:42] ralphgabrielle commented on #43
Hi, I will try to the new update if the problem still persist. Thanks for
the update.

<http://www.avg.com/email-signature?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Virus-free.
www.avg.com
<http://www.avg.com/email-signature?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
<#DAB4FAD8-2DD7-40BB-A1B8-4E2AA1F9FDF2>

On Sat, Nov 4, 2017 at

[2017-11-06 13:04] parthdave93 commented on #42
Another solution is :
[code]
[code]

[2017-12-26 10:57] NilaxSpaceo commented on #29
@simonkarmy  I am facing same issue too. did you get any solution for that?

[2018-01-03 04:55] babulpatel1309 opened #48 "Failed resolution of: Lcom/google/android/gms/internal/zzdcc;"
Here is my function :

[code]
And also followed onResume and onPause methods to make this thing work. Please help me.

Facing this issue. Suddenly it started with version **2.1.2** now its even not working with **2.1.1**

01-03 10:22:22.227 6808-6808/com.Invoice.maker E/AndroidRuntime: FATAL EXCEPTION: main
                                                                 Process: com.Invoice.maker

[2018-01-03 06:22] nisrulz commented on #48
@babulpatel1309 let me check and get back to you.

[2018-01-10 09:37] datnt1987 opened #49 "Draw a square scanning frame at center"
Hi @nisrulz , can lib have an option that can display scanning frame at full screen mode or just a square scanning frame at center ?

[2018-01-14 08:20] sm-tester opened #50 "RuntimeException: Fail to connect to camera service"
Hi I'm receiving this a crash bug from play store on Samsung device:

`java.lang.RuntimeException: Fail to connect to camera service
	at android.hardware.Camera.native_setup(Native Method)
	at android.hardware.Camera.&lt;init&gt;(Camera.java:419)
	at android.hardware.Camera.open(Camera.java:371)
	at com.google.android.gms.vision.CameraSource.zzbjo(Unknown Source)
	at com.google.android.gms.vision.

[2018-01-22 07:35] arpitsingh21 commented on #48
same issue

[2018-01-23 12:07] amirc901 commented on #48
same issue here seems that changing my project firebase version to 11.4.2 resolves problem

[2018-02-08 07:32] Dharaa commented on #33
i have same issue

[2018-03-08 10:11] wd-Agung commented on #30
@dmalis
 i couldn't run the lantern library alongside with qreader, because they both run seperately.

[2018-03-08 15:31] nisrulz commented on #30
The last PR merged into develop adds the functionality. Have to do some cleanup before I can release the new version.

[2018-03-09 03:03] SmallWeiChen opened #53 "getCamera() or openFlash()"
你好(Hello)：
我是來自台灣(Taiwan)的開發者(Developer)
非常抱歉英文不好所以使用中文
您寫的 QREader 掃描非常好用(QREader very good)
但我的專案需要打開閃光燈(open flash)

為此希望能在 QREader.class 加入 getCamera() 或 openFlash() / closeFlash()
 (QREader.class add method to  getCamera() or openFlash() and closeFlash())

謝謝您(Thank you)

[2018-03-15 09:27] Dima-369 opened #54 "Possible to handle a granted camera permission without restarting the activity?"
Currently, the sample app calls `restartActivity()` in `onPermissionGranted()` on granting the camera permission.

Is it instead possible to handle this without re-inflating the `SurfaceView` or restarting the activity?

Using the `QREader.Builder` plus `initAndStart()` in `onPermissionGranted()` does not work on and still displays a black screen.

[2018-03-16 11:16] LainCoubrt opened #55 "Bug : Fail to connect to camera service - With explanation, steps to reproduce and possible fix"
Hi.
I had the RuntimeException: Fail to connect to camera service.
Log:
[code]

This is due to the camera being used from another app and not be released when the app goes to background.

I can give the steps to reproduce this issue if you need.

This exception is thrown in QREader.java in line 221, and is not caught by the IOException beacause it's a RunTimeException and we can't catch it because

[2018-03-16 11:28] LainCoubrt commented on #55
The steps to reproduce:

We need an app that doesn't release the camera when it goes to background.
So I downloaded google sample project of camera2Basic. And onPause() of the Camera2BasicFragment, commented closeCamera() and stopBackgroundThread().

Now just open QREader demo app then this app created. Now just click overview button that displays apps in "cascade" and click the demo app and it wi

[2018-03-16 12:46] nisrulz commented on #55
@LainCoubrt I will look into it. The [`develop` branch](https://github.com/nisrulz/qreader/tree/develop) has some updates which are yet to be released.  It also has a onError listener. If it works for you, I would suggest you check out the module and use it for the time being. Be aware it has not been tested which is why it has not been released. I need to test and put in a lot of fixes before rel

[2018-03-28 07:55] DeveloperDen commented on #48
same issue here

[2018-04-24 05:48] lakshyapunhani opened #56 "java.lang.IllegalStateException: Camera already started!"
E/AndroidRuntime: FATAL EXCEPTION: main
                                                                    Process: com.shanky.qrscanner, PID: 8249
                                                                    java.lang.IllegalStateException: Camera already started!
                                                                        at github.nisrulz.qreader.QREader.startCameraView(QREa

[2018-04-26 08:14] RawanHamad opened #57 "Flash feature"
**Flash feature in develop branch to be fixed?**

In the develop branch , you can turn flash on and off , but after you scan anything this feature stops, and doesn't function properly.

[2018-04-26 11:24] nisrulz commented on #57
It is not released yet. I am not finding time to sit down and make the fix. If you happen to get the time and would like to contribute then please open a PR. There is no set timeline for the resolution. It all depends when I can get time to fix this.

[2018-06-15 04:32] giangriver commented on #48
I meet the same issue and resolved it by adding "com.google.android.gms:play-services-vision"
implementation 'com.google.android.gms:play-services-vision:15.0.2'

[2018-06-24 13:48] morra850 opened #58 "Camera is stretched"
Hello,
I have created a layout on android with a simple menu of 50dp and under a "surfaceview" where I used the library of qr reader to read the qr code, only that the camera is stretched, I also tried to enter 50 dp margin to surface view to keep the spaces, but nothing has changed, how can I solve this problem?

I used version 2.1.2 of the library

Preview:

![0f87eb24-820b-480d-ab1e-b83c3880908

[2018-06-24 14:11] nisrulz commented on #58
Have you checked out the sample app? Does the issue occur in the sample app too?

Can you create a simple implementation reproducing the issue for me to debug?

Thank you

[2018-06-24 14:30] morra850 commented on #58
My code is the same as the demo, I enter the code below:

`package eu.followine.followine;

import android.Manifest;
import android.content.Context;
import android.content.Intent;
import android.content.SharedPreferences;
import android.content.pm.PackageManager;
import android.content.res.Resources;
import android.graphics.Point;
import android.location.Location;
import android.location.LocationL

[2018-06-25 19:16] morra850 commented on #58
Any news? please help me

[2018-06-29 09:10] johan-steffens commented on #58
What happens if you remove `android:layout_weight="1"` from your SurfaceView?

From what I can tell there's no use for it and it might do some weird measurement things behind the scenes.

Also you have a duplicate declaration of your android XML namespace. Maybe remove the declaration from your RelativeLayout and see if that helps.

[2018-07-10 12:12] rohankandwal commented on #54
I am too facing this issue, it's a blocker as of now.

[2018-07-17 08:43] wbinarytree commented on #43
I meet the same problem with version 2.1.2. Any progress on this?
Edit:
I end up with this code to fix this. Now sure why.
[code]

[2018-07-31 14:20] Alessandrolosco opened #59 "Start activity in onDetected() and then pressing back"
I'm trying to scan a qrcode, parse data, put this data into an intent and launch another activity. Everything works fine but when I press the back button to return in the scan activity, surfaceview is completely black. How do you suggest I can solve this? Thank you very much

Here is my code

[code]

[2018-08-09 16:33] westnordost commented on #58
There are several issues at play here:

1. The `QREader.Builder` requires the `width` and `height` of the size to be defined at the time the QREader is built. QREader assumes (=requires) that `QREader.initAndStart(SurfaceView surfaceView)` is called **before** the mentioned final size is calculated, so for example on `onResume` which makes it impossible to supply the correct size calculated from a

[2018-08-21 14:24] reshadf commented on #58
We have users in our app where the camera is black. ( on some devices ) we haven't been able to reproduce this issue, however, I think it might have to do something with the SurfaceView not being able to preview the camera on these devices. The reason might be connected to the stretching where some devices just preview a black screen instead of a stretched view. is this possible?

@westnordost do

[2018-08-21 16:39] westnordost commented on #58
No, I do not have an example (it is not open source), but I can roughly lay it out for you:
Let's say the camera preview is for some reason a square, while the surface view is a 1:2 (portrait) rectangle. One trick to make the camera picture appear non-skewed is to make the surface view itself have the same aspect ratio as the camera picture (in this case, a square) by modifying its margins (and en

[2018-08-28 08:28] rohitsharma181589 opened #60 "Surface View stops camera preview"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

Surface View doesn't show camera preview (Or camera stops) when user locks the device and resume the activity again and this generally happens when u lock your device. Here the part of log:

CAMERA_MSG_STATE_CALLBACK
    mCameraStateCallback is null
Camera-JNI: copyAndPost: off=0, size=518400 msg=10
Camer

[2018-08-29 08:29] johan-steffens commented on #48
@river9 Thank you. Had to do a clean + build, but it fixed it for me too.

[2018-09-12 16:19] gcarlosr opened #61 "Need Design Logo/Icon/Favicon"
Hi, how are you brother, I am a graphic designer I make contributions to open source applications. I have seen that you have an excellent app, but it lacks an icon that represents it and at the same time it can be shown in the favicon of the web (http://nisrulz.github.io/qreader). If you want I can make a contribution designing an attractive logo and that represents the app. Let me know your conce

[2018-11-17 01:32] pkylechu opened #62 "OpenGLRenderer: endAllStagingAnimators on 0x55a2950170 (RippleDrawable) with handle 0x55a2661e30"
**Any logs, error output, bugreport etc?**
OpenGLRenderer: endAllStagingAnimators on 0x55a2950170 (RippleDrawable) with handle 0x55a2661e30

after a scan i stop the qreader then a new intent.

**What is the expected behavior?**
after closing intent it should be resume the camera but it turns into black.
**Any other comments?**

**What versions of software are you using?**
+ **Device Information:**

[2019-02-07 20:01] RobertoLayna opened #63 "Barcode recognition libs are not downloaded and are not operational"
E/BarcodeNativeHandle: Error creating remote native handle
    com.google.android.gms.dynamite.DynamiteModule$zzc: No acceptable module found. Local version is 0 and remote version is 0.

...

E/QREader: Barcode recognition libs are not downloaded and are not operational

A week ago it worked correctly, but now it throws me that error.
I have updated Play services and even then it is not possible

[2019-03-14 17:56] MrSilverstein commented on #45
Same issue here for Android M devices with qreader version 2.1.2:
Right after granting the CAMERA permission with `ActivityCompat.requestPermissions(this, arrayOf(Manifest.permission.CAMERA), 100)`, I have to restart the very same Activity (including `SurfaceView`) again and finish old one to avoid that black screen on SurfaceView:
`startActivity(Intent(this@QrActivity, QrActivity::class.java))
fi

[2019-03-16 08:26] nisrulz commented on #45
@murathada that is a limitation on the library and since it has not been updated for some time, this is how it works.

Although I agree it is not elegant and I do want to address this.

[2019-03-18 12:21] MrSilverstein commented on #54
Strategical <dot>
Same here.

[2019-03-18 12:23] MrSilverstein commented on #45
@nisrulz Thanx for answer. Crossing the thumbs fot that library ;)

[2019-04-03 14:04] MrSilverstein opened #64 "How can I read QR code once and stop QrReader"
As in the examples, the QREeader reads continous. When I once read

[code]

Here it prints continueous the read data object as long as I hold the scanner to the qr code. I would like to call printReadQrCode(data) only once it was read successfully..
then stop the qreader and resume if required.

also
[code]

wont help, since I do not have any Views and I do not want to add artificially some View e

[2019-04-25 12:41] perusudroid commented on #63
Please let know any solution for this. Unable to get camera preview using ML-Kit.

Error Loading module
    com.google.android.gms.dynamite.DynamiteModule$LoadingException: No acceptable module found. Local version is 0 and remote version is 0.

W/BarcodeNativeHandle: Native handle not yet available. Reverting to no-op handle.

Library works fine in all other device except the following one

Devic

[2019-05-30 20:29] sandeepkumar5 commented on #48
I have faced same issue and resolved it by adding
implementation 'com.google.android.gms:play-services-vision:15.0.2'

[2019-07-03 19:30] MahmoudMabrok commented on #64
call `qReader.stop()` after first scan.
and use `qReader.start()` when need to start scanning again.

[2019-07-03 19:33] MahmoudMabrok commented on #59
move all codes of qreader to `onResume()`.

[2019-07-05 06:30] grantperry commented on #48
Now resolved using:
implementation: 'com.google.firebase:firebase-ml-vision:21.0.0'

[2019-08-06 09:23] riyal123 commented on #56
any update on this?

[2019-09-06 15:13] GreenDano opened #66 "Question"
Is the qr aztec format supported?

[2019-09-08 07:09] AlirezaHr opened #67 "setBackgroundDrawable with shape"
i want to create corner shape with xml but dosent work how can i use it ?
its my code in surfaceView :

   <SurfaceView
                android:background="@drawable/surfacae"
                android:id="@+id/camera_view"
                android:layout_width="match_parent"
                android:layout_height="270dp"
                android:layout_marginTop="20dp"
                />

and @drawabl

[2019-09-08 07:10] #67 closed, assigned to nobody

[2019-09-30 18:34] ShiftDigitalSolutions commented on #63
The problem is that : this library needs more than 500 m free.

[2020-01-01 06:41] akashp1992 commented on #41
this code working for me

@Override
    protected void onPause() {
        super.onPause();
        qrEader.initAndStart(surfaceView);
        if(qrEader.isCameraRunning()){
           qrEader.stop();
        }
    }

    @Override
    protected void onResume() {
        super.onResume();
        qrEader.initAndStart(surfaceView);
        if (!qrEader.isCameraRunning()) {
            qrEader.start

[2020-01-05 14:33] CrazyCoderAndroid commented on #60
have u got the solution ?

[2020-01-20 12:27] iasjennen opened #68 "milestone for next release"
Hello,

we are currently using your library for qr code scanning and would like to use the flash light feature from the dev branch in our app. However we want to keep the dependencies to stable releases.

When are you planning for the next release / What is holding up the next release?

Thanks for the lib and best regards!

[2020-01-20 12:52] nisrulz commented on #68
@iasjennen The issue is that this android library is really behind on a lot of things. For instance `play-services-vision` is deprecated now in favor of  Firebase MLKit.

Read the warning on this page.
https://developers.google.com/vision

So this library needs to be migrated to that:

https://firebase.google.com/docs/ml-kit/android/read-barcodes

I started work in another branch : https://github.

[2020-01-21 10:24] iasjennen commented on #68
@nisrulz
Based on this we will decide how to proceed.
thanks for your detailed reply!

[2020-01-21 10:24] #68 closed, assigned to nobody

[2020-02-26 18:29] BhagirathParmar commented on #64
private void SetupQREader() {
        qrEader = new QREader.Builder(this, id_SurfaceView, new QRDataListener() {
            @Override
            public void onDetected(final String data) {
                Log.d("QREader", "Value : " + data);

                result.post(new Runnable() {
                    @Override
                    public void run() {
                        String msg;

[2020-03-27 16:11] khaled-qasem commented on #56
@nisrulz  Any updates?

[2020-03-31 16:08] nisrulz commented on #56
@khaled-qasem

Please read my comment here: https://github.com/nisrulz/qreader/issues/68#issuecomment-576261126

[2020-08-11 14:58] josepereira1 commented on #48
I have the same issue, and resolve with:

[2020-08-11 14:59] josepereira1 commented on #48
I have the same issue, and resolved with:
implementation 'com.google.firebase:firebase-ml-vision:21.0.0'

[2020-09-04 10:27] trix0 commented on #64
public void onDetected(final String data) {
                Log.d("QREader", "Value : " + data);
                Gson Gson = new Gson();
                try {
                    QrCodeMessage qrCodeMessage = Gson.fromJson(data, QrCodeMessage.class);
                    if(qrCodeMessage!=null){
                        if(qrCodeMessage.company.equals("MyTestData")){
                            Log.

[2020-09-04 14:43] MahmoudMabrok commented on #64
@trix0  u start it before click, why start it **again**
**surround** it with try /catch

[2020-09-04 15:16] trix0 commented on #64
Yes, when I find correct QR code, I stop it in the callback. If the QR code
is not valid I want to click on window and start it again. Moment I click
on window I get an error. If I do check if camera is running, it won't work
at all.

First start in on resume is when window is loaded or no?

I understand that if I put it inside try catch it won't kill my app but it
will not start scanning again.

[2020-09-04 17:24] MahmoudMabrok commented on #64
@trix0
with try and catch
it will first try to start
if it failed which mean it already started
so catch will be called
so app is safe and also app function is right

[2020-11-20 10:25] trix0 commented on #63
I have the same issue. Any idea how to fix this?

[2020-11-20 22:14] nisrulz commented on #63
@trix0 this library is outdated. It still uses old google play libs which are not useful anymore. I am going to put this info on the readme since many people seem to get confused.

[2020-11-23 10:01] trix0 commented on #63
I see, Do you know any library you could recommend?

Thanks :)

[2020-11-23 12:52] nisrulz commented on #63
I would suggest you use the [one from Firebase directly](https://developers.google.com/ml-kit/vision/barcode-scanning/android).

When I created this library, the setup was tedious, but I think the new Firebase library is now a good setup to use.

[2021-02-06 21:45] nisrulz opened #69 "Migrate to Maven Central"
JFrog just announced that they'll be shutting down JCenter:
https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/

Key dates are:

February 28th: No more submissions will be accepted to Bintray, JCenter
May 1st: Bintray, JCenter services will no longer be available

Hence need to migrate to another maven repository like Maven central.

[2021-02-11 18:13] samsax commented on #48
I solved it adding:
implementation 'com.google.android.gms:play-services-vision:20.1.3'

[2021-02-11 23:19] nisrulz commented on #48
I think it is safe to say that this library is mostly out of date. I am open to someone making a PR contribution, but the way people are finding ways to bypass this issue seems like it will cause more issues. The dependencies have evolved and the library doesn't know about that. It used to work with a certain version of google vision.

Just putting this out that you all understand the risks. I can

[2021-03-26 14:05] kasfulanwar commented on #48
Same problem

[2021-10-21 14:22] snowaye commented on #48
Same here! My client said this library is best qr scanner when I gave them a try-out sample with six different qr scanner libraries :expressionless:

Anyway thank you all above commented for giving me the idea to do that trick. That works for me by adding
implementation 'com.google.android.gms:play-services-vision:20.1.3'

[2021-10-21 23:13] nisrulz commented on #48
I am picking this up in coming weeks. I have freed up my time to come back to open source work again. Lets see when I can make a proper release that includes fixes for this long standing issue and mavenCentral.

[2021-10-21 23:53] nisrulz opened #71 "Move codebase to Kotlin"
Also get rid of Kotlin Android Extensions in favor of ViewBindings or switch to Jetpack Compose.

[2021-10-21 23:54] nisrulz opened #72 "Setup publishing to MavenCentral"
Use: https://github.com/vanniktech/gradle-maven-publish-plugin

[2021-10-21 23:56] nisrulz opened #73 "Move all the docs into its own markdown file inside the repo."
docs
  |-usage.md
  |-dev_docs.md

[2021-10-21 23:58] nisrulz opened #74 "Cleanup readme"

[2021-10-21 23:59] nisrulz commented on #69
Use: https://github.com/vanniktech/gradle-maven-publish-plugin

Updated process info: https://getstream.io/blog/publishing-libraries-to-mavencentral-2021/

[2021-10-22 00:01] nisrulz commented on #66
Not sure. The library should be supporting all formats of QRcodes.

[2021-10-22 00:01] #66 closed, assigned to nobody

[2021-10-22 00:02] nisrulz commented on #64
The behavior is correct. The library when it was initially written didn't allow for restarting without stopping it. This issue is too old now and the library would undergo upgrades soon. Open a new one if the issue persists.

[2021-10-22 00:02] #64 closed, assigned to nobody

[2021-10-22 00:03] nisrulz commented on #63
Closing as issue is outdated.

[2021-10-22 00:03] #63 closed, assigned to nobody

[2021-10-22 00:04] nisrulz commented on #62
Closing as issue is outdated. Please open a new issue if the issue still persists.

[2021-10-22 00:04] #62 closed, assigned to nobody

[2021-10-22 00:04] nisrulz commented on #61
This repo is not looking for this kind of contribution for now. I appreciate your offer though. Thank you.

[2021-10-22 00:04] #61 closed, assigned to nobody

[2021-10-22 00:05] nisrulz commented on #59
Closing as issue is outdated. Please open a new issue if the issue still persists.

[2021-10-22 00:05] #59 closed, assigned to nobody

[2021-10-22 00:06] nisrulz commented on #58
Closing as issue is outdated. Please open a new issue if the issue still persists.

[2021-10-22 00:06] #58 closed, assigned to nobody

[2021-10-22 00:06] nisrulz commented on #57
Closing as issue is outdated. Please open a new issue if the issue still persists.

[2021-10-22 00:06] #57 closed, assigned to nobody

[2021-10-22 00:08] nisrulz commented on #53
Closing as issue is outdated. Please open a new issue if the issue still persists.

[2021-10-22 00:08] #53 closed, assigned to nobody

[2021-10-22 00:08] nisrulz commented on #50
Closing as issue is outdated. Please open a new issue if the issue still persists.

[2021-10-22 00:08] #50 closed, assigned to nobody

[2021-10-22 00:09] nisrulz commented on #49
How you design your layout it something you decide. The lib scans everything thats captured by the camera.

Closing as issue is outdated. Please open a new issue if the issue still persists.

[2021-10-22 00:09] #49 closed, assigned to nobody

[2021-10-22 00:10] nisrulz commented on #46
Closing as issue is outdated. Please open a new issue if the issue still persists.

[2021-10-22 00:10] #46 closed

[2021-10-22 00:10] nisrulz commented on #44
Closing as issue is outdated. Please open a new issue if the issue still persists.

[2021-10-22 00:10] #44 closed

[2021-10-22 00:10] nisrulz commented on #42
Closing as issue is outdated. Please open a new issue if the issue still persists.

[2021-10-22 00:11] nisrulz commented on #38
Closing as issue is outdated. Please open a new issue if the issue still persists.

[2021-10-22 00:11] #38 closed

[2021-10-22 00:11] nisrulz commented on #34
Closing as issue is outdated. Please open a new issue if the issue still persists.

[2021-10-22 00:11] nisrulz commented on #33
Closing as issue is outdated. Please open a new issue if the issue still persists.

[2021-10-22 00:11] #33 closed, assigned to nobody

[2021-10-22 00:11] nisrulz commented on #32
Closing as issue is outdated. Please open a new issue if the issue still persists.

[2021-10-22 00:11] #32 closed, assigned to nobody

[2021-10-22 00:12] nisrulz commented on #30
Closing as issue is outdated. Please open a new issue if the issue still persists.

Flash functionality will be part of next release.

[2021-10-22 00:14] nisrulz commented on #28
Closing as issue is outdated. Please open a new issue if the issue still persists.

The library will be undergoing some maintenance soon.

[2021-10-22 00:14] #28 closed

[2021-10-22 00:14] nisrulz commented on #26
Closing as issue is outdated. Please open a new issue if the issue still persists.

[2021-10-22 00:14] #26 closed

[2021-10-22 00:14] nisrulz commented on #23
Already added to readme.

[2021-10-22 00:20] nisrulz opened #75 "Add tests"
- Unit Tests
- UI Tests

[2021-10-22 00:29] nisrulz opened #76 "📖 Guest Book 🙇🏻‍♂️"
This "issue" serves as a guest book. You're welcome to write nice things about this project, share how it's helped you out, learn something or solve a problem.

Idea came from this [tweet](https://twitter.com/wilkieii/status/1262914563521085442).

[2021-10-22 00:42] #74 closed, assigned to nobody

[2021-10-22 00:42] #73 closed, assigned to nobody

[2021-10-22 10:50] nisrulz commented on #48
The code in `develop` branch has been updated and it included upgrade to AndroidX and Firebase Vision libraries.

I am going to close this issue for now. When a new release goes out and the issue still persists then please open a new issue. That way we can track it properly with the updated code.

[2021-10-22 10:50] #48 closed, assigned to nisrulz

[2021-10-26 06:53] iAmAndroidDeveloper opened #78 "Unable to see preview"
@nisrulz Unable to see camera preview in following device

device name: HUAWEI MATE 30 Pro 5G
EMUI version: 11.0.0
android version: 10

Can you please check and resolved so we can upgrade and used library

[2021-10-26 09:08] nisrulz commented on #78
This project is undergoing an update. The `develop` branch has the most updated code: https://github.com/nisrulz/qreader/tree/develop . You can checkout the module and try and validate against that.

Until the next release, I can't guarantee any stability. You will have to wait until the next stable release.

[2021-10-26 09:10] nisrulz commented on #78
Also regarding your issue. It is a library that uses Google APIs to scan QRcode. Considering Huawei is banned from using Google APIs, I think this is why the library doesn't work for you.

My suggestion would be to use some other library that doesn't use Google Services to scan QRcodes.

[2021-10-26 13:20] iAmAndroidDeveloper commented on #78
@nisrulz then should i used ml kit for same issue? is this work for me?

[2021-10-26 13:45] nisrulz commented on #78
ML Kit also uses Google Services. It is part of Firebase. You need to use something that doesn't depend on Google Services.

[2021-10-27 05:02] iAmAndroidDeveloper commented on #78
@nisrulz when I integrate ML Kit then i can see preview of camera on given device configuration

[2021-10-27 05:02] #78 closed, assigned to nobody

[2021-10-28 23:06] #71 closed, assigned to nobody